.homeContainer {
    display: grid;
    width: 98vw;
    height: 98vh;
    grid-template-columns: 125px 1fr;
    grid-template-rows: 125px min-content min-content 100px;
    grid-template-areas:
    "hd hd"
    "sd int"
    "sd rp"
    "ft ft";
}

.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CDCDCD;
}

.sidebar {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background-color: #214E34;
}

.intro {
    grid-area: int;
    background-color: #DFF8EB;
    padding: 20px 10px;
}

.recentPosts {
    grid-area: rp;
    display: grid;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 400px;
    background-color: #DFF8EB;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #011638;
}

.footerItem {
    margin: 0 4px 0 4px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    background-color: #A1B5D8;
}

.headerIcon {
    width: 100px;
    height: auto;
    align-self: center;
    border-radius: 30px
}

.cardImage {
    width: 296px;
    height: auto;
    align-self: center;
}