.homeContainer {
    display: grid;
    width: 98vw;
    height: 98vh;
    grid-template-columns: 1fr 160px 700px 1fr;
    grid-template-rows: 125px 115px 1000px 100px;
    grid-template-areas:
    ". hd hd ."
    ". sd int ."
    ". sd rp ."
    ". ft ft .";
}

.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CDCDCD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;

}

.headerIcon {
    width: 100px;
    height: auto;
    align-self: center;
    border-radius: 30px
}

.sidebar {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background-color: #214E34;
}

.intro {
    grid-area: int;
    background-color: #DFF8EB;
    padding: 20px 10px;
}

.recentPosts {
    grid-area: rp;
    display: grid;
    margin-block-start: 0;
    margin-block-end: 0;
    justify-content: center;
    grid-template-columns: 300px 300px;
    grid-template-rows: 500px 500px;
    background-color: #DFF8EB;
    padding-left: 0;
    justify-items: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #A1B5D8;
    border: 4px solid #677575;
    border-radius: 25px;
    padding-top: 0;
    width: 270px;
    height: 450px;
    padding-right: 0;
}

.cardImage {
    width: 270px;
    height: 202px;
    align-self: center;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    object-fit: cover;
}

.continueReading {
    align-self: center;
    justify-self: flex-end;
    margin-top: 20px;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #011638;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footerItem {
    margin: 0 4px 0 4px;
}

@media(max-width: 767px) {

    .homeContainer {
        grid-template-columns: 1fr 400px 1fr;
        grid-template-rows: 125px 115px 1900px 300px 75px;
        grid-template-areas:
        ". hd ."
        ". int ."
        ". rp ."
        ". sd ."
        ". ft .";
    }

    .recentPosts {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        padding: 5px;
    }

    .sidebar {
        justify-content: center;
        align-items: center;
    }
  }

@media(min-width: 1025px) {

    .homeContainer {
        grid-template-columns: 1fr 240px 960px 1fr;
        grid-template-rows: 150px 115px 1025px 130px;
    }

    .recentPosts {
        grid-template-columns: 400px 400px;
        grid-template-rows: 500px 500px;
    }
}