@import "post.css";
@import "home.css";
@import "subscribe.css";

.button {
    display: inline-block;
    margin: 0 4px 0 4px;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #DFF8EB;
    background-color: #48AD72;
    border-radius: 8px;
    box-shadow: -1px 4px #56688A;
}
  
.button:hover {
    background-color: #368156
}
  
.button:active {
    background-color: #214E34;
    box-shadow: -1px 1px #364156;
    transform: translateY(3px);
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

h2,
h3 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Slabo 13px', serif;
    text-decoration: none;
    color: #CDCDCD
}

a:hover {
    color: #DFF8EB
}

body {
    background-color: #364156
}