@import "post.css";
@import "home.css";
@import "subscribe.css";

.button {
    display: inline-block;
    margin: 0 4px 0 4px;
    padding: 6px 8px;
    font-family: 'Slabo 13px', serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #DFF8EB;
    background-color: #48AD72;
    border-radius: 8px;
    box-shadow: -1px 4px #56688A;
}
  
.button:hover {
    background-color: #368156
}
  
.button:active {
    background-color: #214E34;
    box-shadow: -1px 1px #364156;
    transform: translateY(3px);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 46px;
    color: #011638;
    margin: 0 0 15px 10px;
}

h2,
h3 {
    font-family: 'Lora', serif;
    margin: 10px 0 5px 10px;
    font-weight: bolder;
}

p,
label {
    font-family: 'Lato', sans-serif;
    margin: 0 0 8px 10px;
    font-size: 16px;
    font-weight: 300;
}

a {
    font-family: 'Slabo 13px', serif;
    text-decoration: none;
    color: #CDCDCD
}

a:hover {
    color: #DFF8EB
}

body {
    background-color: #364156
}

ol,
ul {
    list-style: square;
    padding-left: 20px;
    margin: 0 0 15px 0;
}

li {
    padding-top: 8px;
}