.subscribeContainer {
    display: grid;
    width: 98vw;
    height: 98vh;
    margin: auto;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 50px min-content 50px 1fr;
    grid-template-areas:
    ". . ."
    ". ent ."
    ". form ."
    ". home ."
    ". . .";
}

.enticement {
    grid-area: ent;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeButton {
    grid-area: home;
}