.subscribeContainer {
    display: grid;
    width: 98vw;
    height: 98vh;
    margin: auto;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 50px min-content 50px 1fr;
    grid-template-areas:
    ". . ."
    ". ent ."
    ". form ."
    ". home ."
    ". . .";
}

.enticement {
    grid-area: ent;
    background-color: #CDCDCD;
    margin: 0;
    text-align: center;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DFF8EB;
    padding: 15px 0;
}

.homeButton {
    grid-area: home;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDCDCD;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}